
.main {
    display: grid;
    margin: 3rem;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: 10% repeat(8,11.25%);
} 
.loginForm {
    grid-column: 2 / 8;
    grid-row: 3 / 8;
    display: flex;
    flex-direction: column;
    background-color: var(--form-background); 
    padding: 2rem 2rem;
}

/* login-heade */
.login-header {
    grid-area:login-header;
  display: flex;
  flex-direction: column;
}
.login-header__element {
    display: flex;
    align-items: center;
    margin: 0.5rem;

}
.login-header__element:first-child{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-title);
}

.login-header__element img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.6rem;
}

/* input */
.input-title {
    font-weight: 500;
}
.input-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 0.5rem 0;
}
.input-element > input {
    border-style: none;
    outline: none;
    background-color: inherit;
    position: relative;
    width: 80%;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: 3px solid var(--form-background);
}
.pwd-input img:first-of-type,
.email-input img:first-of-type{
    position: absolute;
    margin-left: 0.5rem; 
}
.pwd-input img:last-of-type {
    position: absolute;
    margin-left: 13rem; 
}
.input-element input:focus{
    border: 3px solid var(--primary-color); 

}


.remind input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border-color:var(--primary-color);
    color: white;
}

/* login */
.login {
display: flex;
flex-direction: column;

}
.login-btn {
    width: 80%;
    background-color: var(--primary-color);
    padding:0.5rem 0;
    border-radius: 5px;
}