@import url("/css/reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("/css/variables.css");
@import url("/css/loginForm.css");

body {
    background-color: var(--background);
    font-family:"Roboto";
    display: grid;
    width: 100vw;
    height:100vh;
    grid-template-columns: 50% 50%;
}
.main {
    display: grid;
    margin: 3rem;
    grid-template-rows: 10% 90%;
}
.logo {
    width: 13rem;
}
.side-image__image {
    width:100%;
    height: 100%;
}
